<section class="landing-warapper page-content">
  <div class="profile-oval">
    <img src="assets/images/profile.png" alt="img" class="profile-image"/>
    <span class="my__name">Murthy</span>
  </div>
  <div class="landing-section">
    <div class="web-developer">Web Developer</div>
  </div>
  <div class="social-network">
    <a href="https://www.linkedin.com/in/narasimha-murthy-05570417a" target="_blank">
      <i class="fab fa-linkedin-in fa-2x social-media-icons" style="color: #0082ca;"></i>
    </a>
    <a href="https://www.instagram.com/_murthy_majji_/" target="_blank">
      <i class="fab fa-instagram fa-2x social-media-icons" style="color: #ac2bac;"></i>
    </a>
    <a href="https://www.facebook.com/naveen.murthy.56" target="_blank">
      <i class="fab fa-facebook-f fa-2x social-media-icons" style="color: #3b5998;"></i>
    </a>
    <a href="https://github.com/Naveen-Murthy" target="_blank">
      <i class="fab fa-github fa-2x social-media-icons" style="color: #333333;"></i>
    </a>
  </div>
</section>
