<div class="post-list-header">
  <div class="post-list-heading">
    To Dos
  </div>
  <button mat-raised-button color="primary" type="button" (click)="createPost()">
    <span class="material-icons">
      add
    </span>Add item</button>
</div>
<!-- <mat-accordion *ngIf="postsList.length>=0">
  <mat-expansion-panel *ngFor="let post of postsList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
      <mat-action-row>
        <button mat-button color="warn" (click)="deletePost(post)">Delete</button>
        <button mat-button color="primary" (click)="editPost(post)">Edit</button>
      </mat-action-row>
    </mat-expansion-panel-header>
    <p>{{post.desc}}</p>
  </mat-expansion-panel>
</mat-accordion> -->
<app-accordian *ngIf="postsList.length>=0" [options]="options" [menus]="postsList" (deletePost)="deletePost($event)" (editPost)="editPost($event)">
</app-accordian>
<div class="no-posts mat-body-1" *ngIf="postsList.length==0">
  No items added yet
</div>
