<mat-card>
  <div class="mat-headline">Edit To Do Item</div>
  <form (submit)="onSubmit()" [formGroup]="editPostForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" formControlName="title" />
      <mat-error>Please enter valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput rows="4" name="description" formControlName="description"></textarea>
      <mat-error>Please enter valid description</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select name="visibility" formControlName="visibility">
        <mat-option *ngFor="let option of visibilityOptions" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </form>
</mat-card>
